BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK50MHZ" SITE "49" ;
LOCATE COMP "KEY0" SITE "11" ;
LOCATE COMP "KEY1" SITE "12" ;
LOCATE COMP "b[0]" SITE "26" ;
LOCATE COMP "b[1]" SITE "25" ;
LOCATE COMP "b[2]" SITE "24" ;
LOCATE COMP "b[3]" SITE "23" ;
LOCATE COMP "g[0]" SITE "22" ;
LOCATE COMP "g[1]" SITE "21" ;
LOCATE COMP "g[2]" SITE "20" ;
LOCATE COMP "g[3]" SITE "19" ;
LOCATE COMP "r[0]" SITE "17" ;
LOCATE COMP "r[1]" SITE "15" ;
LOCATE COMP "r[2]" SITE "14" ;
LOCATE COMP "r[3]" SITE "13" ;
LOCATE COMP "hsync" SITE "27" ;
LOCATE COMP "vsync" SITE "28" ;
